.delete-community-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  z-index: 5;
  text-align: center;
}

.delete-community-modal:hover {
  box-shadow: 2px 3px 2px lightgreen;
}

.delete-community-modal h2 {
  font-weight: 500;
  margin-top: 0;
  color: #333;
}

.delete-community-modal p {
  color: #666;
  margin-bottom: 40px;
}

.delete-community-modal button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

/* Yes button */
.delete-community-modal button:first-of-type {
  background-color: green;
  color: white;
}

.delete-community-modal button:first-of-type:hover {
  background-color: darkgreen;
}

/* No button */
.delete-community-modal button:last-of-type {
  background-color: red;
  color: white;
}

.delete-community-modal button:last-of-type:hover {
  background-color: darkred;
}
