.post-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
  gap: 5px;
  width: 75%;
  max-width: 875px; /* Added max-width */
}

.post-detail-container:hover {
  box-shadow: 2px 3px 2px lightgreen;
}

.single-post-details {
  width: 75%;
  max-width: 875px; /* Added max-width */
}

.post-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.post-info > a:hover {
  background-color: darkgreen;
  color: white;
}

.post-detail-image {
  object-fit: contain;
  max-width: 650px;
}

.details {
  border: 1px solid black;
  border-radius: 10px;
  width: 650px;
  overflow-wrap: break-word;
}

.details:hover {
  box-shadow: 2px 3px 2px green;
}

.post-details-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-details-title > p {
  max-width: 650px;
  padding-left: 3%;
  padding-right: 1%;
}

.post-details-body-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 650px;
}

.post-edit-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.post-edit-delete > a,
.post-edit-delete > button {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
  margin-top: 2%;
}

.post-edit-delete > a:hover,
.post-edit-delete > button:hover {
  cursor: pointer;
}

.post-edit-delete > button {
  font-size: 16px;
}

.line {
  border: 1px solid black;
  width: 650px;
}

/* Media Query for screens with a max width of 875px */
@media (max-width: 875px) {
  .post-detail-container,
  .single-post-details,
  .details,
  .post-details-title > p,
  .post-details-body-container,
  .line,
  .post-detail-image {
    width: 95%;
    max-width: 95%;
  }
}
