.community-name-image {
  display: flex;
  margin: 0;
  margin-bottom: 2%;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  gap: 2%;
  box-shadow: 2px 3px 2px lightgrey;
}

.community-name-image:hover {
  box-shadow: 3px 3px 2px green;
}

.community-name-image>img {
  object-fit: contain;
  max-height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.community-post-details-rules {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 50px;
  width: 100%;
  flex: 1;

}

.community-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2%;
  background-color: bisque;
  box-shadow: 2px 3px 2px lightgrey;
}

.community-detail-container:hover {
  box-shadow: 2px 3px 2px lightgreen;
}

.detail-rules {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 45rem;
  width: 30rem;
  position: sticky;
  top: 0;

  /* word-break: break-all; */
}

.community-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  overflow-wrap: break-word;

}

.community-details>p {
  overflow-wrap: break-word;
}

.community-create-edit-delete {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.community-create-edit-delete>a,
.community-create-edit-delete>button {
  background-color: darkgreen;
  border: none;
  color: white;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
}

.community-create-edit-delete>a:hover,
.community-create-edit-delete>button:hover {
  cursor: pointer;
}

.community-create-edit-delete>button {
  font-size: 16px;
}

.community-rules-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3%;
  background-color: bisque;
  box-shadow: 2px 3px 2px lightgrey;
}

.community-rules-container:hover {
  box-shadow: 2px 3px 2px green;
}

@media (max-width: 875px) {
  .community-name-image {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .community-name-image>img {
    margin-bottom: 2%;
    margin-top: 2%;
    max-height: 100px;
  }

  .community-post-details-rules {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }

  .detail-rules {
    height: auto;
    width: 100%;
    gap: 10px;
  }

  .community-details {
    padding: 2%;
  }

  .community-create-edit-delete {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
