.user-community-root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  gap: 20px;
}

.current-community-container {
  width: 25%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  background-color: bisque;
  box-shadow: 2px 3px 2px lightgrey;
}

.current-community-container:hover {
  box-shadow: 2px 3px 2px lightgreen;
}

.current-community-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 875px) {
  .user-community-root {
    flex-wrap: wrap;
    height: auto;
    min-width: 400px;
  }

  .current-community-container {
    width: 100%;

    margin-bottom: 20px;
  }

  .current-community-details-container {
    gap: 10px;
  }
}
