.community-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 50vh;
  border: 1px solid black;
  border-radius: 10px;
  gap: 20px;
  background-color: bisque;
  box-shadow: 2px 3px 2px lightgrey;
}

.community-list-container:hover {
  box-shadow: 2px 3px 2px lightgreen;
}

.community-list-title {
  margin-top: 0;
}

.community-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.community-link {
  color: darkgreen;
  text-decoration: none;
}

.community-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  padding-bottom: 1%;
}

.community-link-container>a:first-child:hover {
  background-color: darkgreen;
  color: white;
  text-decoration: none;
  box-shadow: 2px 3px 2px green;
}

.tiny-edit-delete>button,
.tiny-edit-delete>a {
  border: none;
  text-decoration: none;
  background-color: darkgreen;
  color: white;
  font-size: smaller;
  text-align: center;
  padding: 2%;
}

.tiny-edit-delete>button:hover,
.tiny-edit-delete>a:hover {
  cursor: pointer;
  background-color: green;
}

.tiny-edit-delete {
  display: flex;
  gap: 5px;
}
