#commenter-profile-image {
  width: 3rem;
  border-radius: 50%;
}

.comment-replies {
  margin-left: 20px;
  border-left: 2px solid green;
  padding-left: 10px;
  margin-bottom: 1rem;
  /* margin-top: 1rem; */
}

.comment-replies textarea {
  width: 75%;
  resize: none;
  border-radius: 10px;
  height: 4rem;
}

/* .replies-container {
  margin-top: 5rem;
} */

.comment-container {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  padding-left: 2%;
}

.comment-container:hover {
  box-shadow: 0px -3px 2px lightgreen;
}

.commenter-div {
  display: flex;
  align-items: center;
}

.commenter-data {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.commenter-data p,
.commenter-data h4 {
  margin: 0;
}

.commenter-data p {
  font-size: small;
  color: rgb(118, 118, 118);
}

.comment p {
  font-size: medium;
}

#reply-button {
  color: white;
  background-color: darkgreen;
  border: none;
  width: 100%;
  max-width: 100px;
  padding: 0.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.comment-delete-container button {
  color: white;
  background-color: darkgreen;
  border: none;
  border-radius: 50px;
  width: 100%;
  max-width: 25px;
  padding: 0.25rem;
  /* margin-bottom: 1rem; */
  margin-left: 1rem;
  cursor: pointer;
}

.new-reply-div button {
  color: white;
  background-color: darkgreen;
  border: none;
  cursor: pointer;
  max-width: 100px;
  padding: 0.5rem;
}

.comments-errors-buttons {
  display: flex;
  justify-content: space-around;
}

.errors {
  color: red;
}
