.splash-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 33%;
  position: sticky;
  top: 0;
  /* z-index: -1; */
  /* right: 15%; */
}

/* Rest of the code remains the same */

.details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 33%;
  /* position: sticky; */
  /* Work on sticky positioning */
  /* right: 15%; */
}

.splash-about {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: bisque;
  box-shadow: 2px 3px 2px lightgrey;
}

.splash-about:hover {
  box-shadow: 2px 3px 2px lightgreen;
}

.dev-info {
  align-self: center;
  justify-self: center;
}

.splash-about>h2 {
  align-self: center;
}

.create-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.splash-create-link {
  color: white;
  border: 1px solid grey;
  background-color: darkgreen;
  padding: 2%;
  text-decoration: none;
}

.dev-link {
  color: darkgreen;
  text-decoration: none;
}

.dev-link:hover {
  background-color: darkgreen;
  color: white;
}

/* Responsive Styles */
@media (max-width: 875px) {
  .splash-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .details-container {
    width: 100%;
  }
}
