.profile-dropdown {
  position: absolute;
  right: -2rem;
  top: 4.3rem;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 0;
  flex: 1;
  padding-bottom: 3%;
  /* padding-top: 2%; */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: #068859;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  justify-self: center;
}

.logo:hover {
  background-color: #068859;
  color: white;
  border-radius: 15px;
}

.logo-li {
  display: flex;
  justify-content: center;
  width: 10%;
}
