.profile-dropdown {
  position: absolute;
  right: -2rem;
  top: 4.3rem;
}

.hidden {
  display: none;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0;
  margin: 0;
  flex: 1;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-bottom: darkgreen 1px solid;
  box-shadow: 0px 3px 3px lightgray;
  gap: 1rem;
  /* padding-top: 2%; */
}

.logo-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
  flex: 1;
  /* padding-bottom: 3%; */
  /* padding-top: 2%; */
}

.logo-container > div > a > svg {
  height: 100%;
  width: 2.5rem;
  margin: 0;
  padding: 0;
  align-self: baseline;
  color: darkgreen;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  max-width: 33%;
}

/* .logo-li > svg:hover {
  background-color: #068859;
  color: white;
} */

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  color: darkgreen;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-li:hover {
  /* border: 1px solid #068859; */
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px #068859;
  cursor: pointer;
}

.community-dropdown {
  width: 9rem;
  min-width: fit-content;
}

#community-nav-dropdown {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
}

#community-nav-dropdown:hover {
  box-shadow: 4px 4px 4px lightgreen;
}

.search-li {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0 1rem;
  padding: 0 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
  height: 45px;
}

.search-li:hover {
  box-shadow: 0 3px 5px 2px lightgreen;
}

@media screen and (max-width: 868px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-container > li {
    width: 100%;
  }

  .logo-container {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .button-container {
    align-items: center;
    margin-left: 0;
    margin-top: 1rem;
  }

  .profile-dropdown {
    position: relative;
    top: auto;
    right: auto;
    /* margin-top: 1rem; */
  }

  .hidden {
    display: block;
  }

  .search-li {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    height: auto;
  }
}
