.user-post-root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.user-posts-container {
  max-width: 75%;
  align-self: center;
}

.current-posts-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
  align-self: start;
}

@media (max-width: 875px) {
  .user-posts-container {
    max-width: 100%;
  }
  .user-post-root {
    flex-direction: column;
    gap: 10px;
  }

  .current-posts-details-container {
    height: auto;
    align-self: center;
    width: 58%;
    gap: 10px;
  }
}
